.menu-section {
  background-color: #fffdfdff;
  background-image: radial-gradient(#ffcc80 1px, transparent 1px);
  background-size: 20px 20px;
}

/*------------------------------------    Categorías del menú     --------------------------------*/
.categories-menu {
  display: flex;
  gap: 10px;
  overflow-x: auto;
  padding: 5px 6px;
  white-space: nowrap;
  margin: 10px auto;
  justify-content: center;
  flex-wrap: wrap;
}

.categories-menu button {
  padding: 6px 12px;
  background-color: transparent;
  cursor: pointer;
  color: grey;
  font-weight: bold;
  border-radius: 0%;
  border: none;
}

.categories-menu .active {
  border-bottom: 3px solid black;
  color: black;
}

/*------------------------------------    Productos     --------------------------------*/
.products-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.product-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 98%;
  max-width: 600px;
  background-color: #fff;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  margin: auto;
  flex-wrap: wrap;
}

.product-card:hover {
  background-color: #ececec;
}

.product-info {
  flex-grow: 1;
  display: flex;
  gap: 2px;
  align-items: center;
  justify-content: space-between;
}

.product-image {
  width: 80px;
  height: 100px;
  object-fit: cover;
  border-radius: 5px;
}

.icon-btn {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
  color: #4d4d4d;
  margin: 0 3px;
  padding: 3px 6px;
  border: 0.5px solid rgb(196, 196, 196);
}

.icon-btn:hover {
  color: red;
  background-color: rgb(215, 215, 215);
}

/*------------------------------------    Controles del carrito     --------------------------------*/
.cart-controls {
  display: flex;
  align-items: center;
  gap: 6px;
}

.decrease-btn,
.increase-btn {
  align-items: center;
  justify-content: center;
  background: red;
  border: 1px solid #ccc;
  cursor: pointer;
  font-size: 0.9rem;
  color: #ffffff;
  padding: 5px 6px 4px 6px;
  border-radius: 4px;
  transition: background-color 0.2s;
  margin-right: 10px;
}

.decrease-btn:hover,
.increase-btn:hover {
  background-color: #ddd;
}

.quantity {
  font-weight: bold;
  min-width: 20px;
  text-align: center;
}
